<div class="min-h-screen bg-neutral-100 p-4 sm:p-6 lg:p-4">

    <div *ngIf="isLoading" class="flex justify-center items-center min-h-[300px]"></div>

    <div class="bg-white rounded-lg shadow-lg overflow-hidden">

        <div class="p-6 bg-white shadow-md rounded-lg">
            <!-- Header Section -->
            <div class="flex flex-col sm:flex-row justify-between items-center gap-6">
                <!-- Title -->
                <h3 class="text-2xl font-bold text-gray-800">Transactions</h3>

                <!-- Filter Buttons -->
                <div class="flex flex-wrap gap-3">
                    <button (click)="filterTransactions(1)"
                        class="px-4 py-2 bg-emerald-500 text-white font-medium rounded-lg shadow-md hover:bg-emerald-600 transition">
                        Sales
                    </button>
                    <button (click)="filterTransactions(2)"
                        class="px-4 py-2 bg-rose-500 text-white font-medium rounded-lg shadow-md hover:bg-rose-600 transition">
                        Redeem
                    </button>
                    <button (click)="filterTransactions(null)"
                        class="px-4 py-2 bg-gray-500 text-white font-medium rounded-lg shadow-md hover:bg-gray-600 transition">
                        All
                    </button>
                    <div class="flex items-center gap-4">
                        <label class="inline-flex items-center cursor-pointer">
                            <input type="checkbox" class="sr-only peer" [(ngModel)]="showingUnchecked"
                                (change)="toggleUnchecked()">
                            <div
                                class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300  rounded-full peer  peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all  peer-checked:bg-blue-600">
                            </div>
                            <span class="ms-3 text-sm font-medium text-gray-900 ">
                                {{ showingUnchecked ? 'All' : 'Unchecked' }}
                            </span>
                        </label>
                    </div>



                </div>
            </div>

            <!-- Divider -->
            <hr class="my-4 border-gray-300">

            <!-- Limit Selection -->
            <div class="flex flex-col sm:flex-row justify-between items-center gap-6">
                <!-- Results Info -->
                <span class="text-sm font-medium text-gray-600">Results per page:</span>

                <!-- Limit Buttons -->
                <div class="flex flex-wrap gap-3">
                    <button (click)="setLimit(20)"
                        class="px-3 py-2 text-sm font-medium bg-lime-500 text-white rounded-lg hover:bg-lime-600 transition">
                        20
                    </button>
                    <button (click)="setLimit(100)"
                        class="px-3 py-2 text-sm font-medium bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition">
                        100
                    </button>
                    <button (click)="setLimit(9999)"
                        class="px-3 py-2 text-sm font-medium bg-red-500 text-white rounded-lg hover:bg-red-600 transition">
                        All
                    </button>
                </div>
            </div>
        </div>
        <table class="min-w-full text-sm mt-6">
            <thead class="bg-gray-100 text-gray-600 uppercase text-xs">
                <tr>
                    <th class="py-3 px-4 text-left">#</th>
                    <th class="py-3 px-4 text-left">Type</th>
                    <th class="py-3 px-4 text-left">User Name</th>
                    <th class="py-3 px-4 text-left">Pos Name</th>
                    <th class="py-3 px-4 text-left">Created On</th>
                    <th class="py-3 px-4 text-left">Points</th>
                    <th class="py-3 px-4 text-left">Status</th>
                    <th class="py-3 px-4 text-center w-20">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of filteredTransactions; let i = index"
                    class="border-b border-gray-200 hover:bg-gray-50"
                    [ngClass]="{ 'bg-red-50': !transaction.isChecked }">
                    <td class="py-3 px-4">{{ filteredTransactions.length - i }}</td>
                    <td class="py-3 px-4 text-left">
                        <mat-icon class="text-xl">
                            {{ transaction.type === 1 ? 'receipt_long' : (transaction.type === 2 ? 'payments' : 'help')
                            }}
                        </mat-icon>
                    </td>
                    <td class="py-3 px-4">{{ transaction.UserName }}</td>
                    <td class="py-3 px-4">{{ transaction.PosName }}</td>
                    <td class="py-3 px-4">{{ transaction.createdOn | date: 'dd/MM/yyyy h:mm a' }}</td>
                    <td class="py-3 px-4">{{ transaction.points }}</td>
                    <td class="py-3 px-4">{{ transaction.status }}</td>
                    <td class="py-3 text-center">
                        <a [routerLink]="['../transactionsdetails-v2/', transaction.id]"
                            class="text-neutral-500 hover:text-neutral-700">
                            <mat-icon>arrow_forward_ios</mat-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>