<div class="min-h-screen bg-neutral-100">
    <h2 class="text-2xl font-semibold text-neutral-700 mb-6">Points Management</h2>

    <!-- Table -->
    <div class="bg-white rounded-lg shadow-md overflow-x-auto">
        <table class="min-w-full bg-white rounded-lg border border-neutral-300">
            <thead class="bg-gray-200 text-gray-600 uppercase text-sm">
                <tr>
                    <th class="py-3 px-6 text-left">User Name</th>
                    <th class="py-3 px-6 text-left">PoS Name</th>
                    <th class="py-3 px-6 text-left">Points</th>
                    <th class="py-3 px-6 text-left">phoneNumber</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users" class="border-b border-gray-200 hover:bg-gray-100">
                    <td class="py-3 px-6">{{ user.UserName }}</td>
                    <td class="py-3 px-6">{{ user.posName }}</td>
                    <td class="py-3 px-6">{{ user.points }}</td>
                    <td class="py-3 px-6">{{ user.phoneNumber }}
                    </td>


                </tr>
            </tbody>
        </table>
    </div>

</div>